!!!
%html
  %head
    %title Auction Snipper
  %body
    %span#sniper_status= @status
    %p
      Welcome to my website made with Sinatra and HAML
    %script{:type => "text/javascript",
        :src  => "../javascripts/sniper.js"}
